function div 3
  push argument 0
  pop local 0
  push argument 1
  pop local 1
  push constant 0
  pop local 2
    label LOOP_START
    push local 0
    push local 1
    lt
    if-goto END
    push local 0
    push local 1
    sub
    pop local 0
    push local 2
    push constant 1
    add
    pop local 2
    goto LOOP_START
    label END
  push local 2
  return